input[type="text"]{
width: 150px;
height: 30px;
font-size: 20px;
border: 1px solid #f0b3ff ;
margin: 10px;
}
label{
font-size: 25px;
margin: 20px;
}
input[type="text"].result{
width: 350px;
color : black;
}
input[type="submit"]{
padding: 3px;
font-size: 20px;
width: 80px;
margin: 10px;
}
